/* Using External CSS */
body {
    background-color: #EAF6F6;
}

hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    background-color: white;
    border-color: grey;
    border-width: 5px;
    /* border-style: dotted solid; */
}
h1
{    
 
   text-decoration: underline dashed darkblue;
}
h3
{
   color: #5980ec;
}
 
