body {
  text-align: center;
  background-color: #0543eb;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: 'Arvo';
  text-shadow: 3px 0 #ec5c9d;

}

footer {
  color: #DBEDF3;
  font-family: 'sans-serif';
   text-shadow: 0.3px 0 #ec5c9d;
}

.w {
background-image:url("/images/crash.png");
}

.a {
  background-image:url("/images/tom1.png");
}

.s {
  background-image:url("/images/tom2.png");
}

.d {
  background-image:url("/images/tom3.png");
}

.j {
  background-image:url("/images/tom4.png");
}

.k {
  background-image:url("/images/kick.png")
}

.l {
  background-image:url("/images/snare.png")
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: rgb(115, 255, 0);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #a00505;
  opacity: 0.7;
}

.red {
  color: rgb(166, 255, 0);
}

.drum {
  outline: none;
  border: 10px solid  #103d5c;
  font-size: 4rem;
  font-family: 'Arvo';
  line-height: 2;
  font-weight: 600;
  color: #638065;
  text-shadow: 4px 0 #DBEDF3;
  border-radius: 10px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
