body{
    background-color: rgb(10, 63, 83);
    text-align: center;
}
#press-title{
   font-family:  "Press Start 2P", cursive;
   color: white;
   font-size: 2rem;
   text-align: center;
   margin-top: 5%;
}
.red{
    background-color: red;
}

.blue{
    background-color: rgb(76, 0, 255);
}
.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
.btn{
    width: 180px;
    height: 180px;
    border-color: black;
    border-image: initial;
    display: inline-block;
    border-width: 10px;
    border-radius: 20%;
    border-style: solid;
    margin-top:3rem;
    margin: 2rem;
}
.container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }