/* Using External CSS */
body {
    margin: 0;
    text-align: center;
    font-size: 1rem; /* 16px = 100% = 1em 90px=5.625em (rem=relative emphsize*/
    color: #40514E;

}

h1 {           
    color: #50a57b;
    margin: 50px auto 0px auto; /* adding margins in circular wise to all the side of the heading  */
    font-family: 'Qwigley', cursive; /* font loaded form the google fonts  */
    font-size: 5.725rem; 
    /* 16px = 100% = 1em 90px=5.625em*/
}    

h2 {
    color: #6FBFBF;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 2.3em;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 1.3em;
}

hr {
    border: dotted #65d4d4 6px;
    border-bottom: none;
    width: 5%;                               
    margin: 100px auto 100px auto;

}

.span-class {
    text-decoration: underline; /* to see wether the span is working over the text or not  */
}


p {

    font-family: 'Merriweather', serif;
    height: 2;  /*  here height 2 means to double the height of the text */
}

a {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #ffffff; /*  using : to work on hovers.(Hover works when the cursor is dragged over the element in web pages and they change the color of element.)  */
}

.top-container {

    background-color: #80e0d4;
    position: relative;     
    padding-top: 200px;

}

.middle-container {
    margin: 100px 0; /*  adding margin to the div from top and bottom with 100px and 0 from left and right side in clockwise fashion */

}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin-top: 50px;
}

.cloud1 {
    width: 300px;
    height: 250px;
    position: absolute;
    right: 200px;
    top: 20px;

}

.cloud2 {
    width: 330px;
    height: 300px;
    position: absolute;
    left: 100px;
    bottom: 400px;
}


.mount {

    width: 90%;
    height: 350px;
    position: relative;
    padding-bottom: 0px;
    margin-top: 100px;

}

.gif {
    width: 30%;
    height: 200px;
    float: left; /*  floats are used to wrap the text around them. */
    margin-right: 20px;  /*to create 30 px distance in b/w text and image*/
}

.fire {
    width: 25%;
    height: 150px;
    float: right;
    margin-left: 10px;
    /*to create 30 px distance in b/w text and image*/
    margin-bottom: 20px;
}

.social {
    width: 150px;
    height: 150px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 0 auto;
    /* to gett he elements of row in the middle of the web page*/
    text-align: left;
    line-height: 2;


}
 
.btn {
    /*  button properties pre loaded from the internet */
    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {

    font-family: 'Montserrat', sans-serif;
    background: #3cfc7f;
    background-image: -webkit-linear-gradient(top, #3cfc7f, #84a1b5);
    background-image: -moz-linear-gradient(top, #3cfc7f, #84a1b5);
    background-image: -ms-linear-gradient(top, #3cfc7f, #84a1b5);
    background-image: -o-linear-gradient(top, #3cfc7f, #84a1b5);
    background-image: linear-gradient(to bottom, #3cfc7f, #84a1b5);
    text-decoration: none;

}

.copyright {
    color: #EAF6F6;
    font-size: 0.7rem;
    padding-bottom: 20px 0;
}
.tidy{
    width: 300px;
    text-align: center;
    margin: auto;
}
.contact-me{
    padding: 0 200px;
}
