#title {
    background-color: #ff4c68;
}

body{

font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.3;
    color: bisque;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15%;
}
.rotate{
    padding: 10%;
     transform: rotate(30deg);
  }   
